<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>Over Unishop</h2>
    <hr>
    <p>
      Unishop is een kleding webshop voor hem en haar. De team is er momenteel druk meebezig met het ontwikkelen van de webshop dus, hou ons in de gaten!
    </p>
  </div>
</div>
